.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    list-style-type: none;
    padding-inline: 3rem;
    align-items: stretch;
}

@media (max-width: 600px) {
    .container {
        padding-inline: 1rem;
        gap: 1rem;
    }
}