.row {
    display: flex;
    height: 200px;
    justify-content: space-around;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.row * {
    flex: 1;
}

.imageContainer {
    height: 150px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageTitle {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.row button {
    padding: 5px 10px;
    width: 35px;
    height: 35px;
}

.row .leftButton {
    margin-right: 5px;
}