.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid rgb(196, 196, 196);
    max-height: 400px;
    text-align: center;
    border-radius: 20px;
}

.imageContainer {
    padding: 1rem;
    height: 200px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row {
    display: flex;
    justify-content: space-between;
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    padding: 5px 10px;
    background: none;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}