.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: calc(100vh - 140px);
  justify-content: center;
  align-items: center;
}

.homeContainer h1 {
  font-size: 5rem;
}

.homeContainer h2 {
  font-size: 2rem;
}

.homeContainer button {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
