:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-size: inherit;
  background-color: #FFF;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;

}

button:active {
  background-color: rgb(233, 234, 233);
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}